body {
  // font-family: Ubuntu, serif;
  overflow-x: hidden;
}
.bg-theme {
  background-image: linear-gradient(
    90deg,
    $theme-color,
    $theme-color-light,
    $theme-color
  );
}
.text-silver {
  color: $silver;
}
.bg-theme-basic {
  background: $theme-color;
}
.text-theme-light {
  color: $theme-color-light;
}
.nav-link {
  color: white;
  &:hover {
    color: $silver;
  }
  &:focus {
    color: $silver;
  }
}
.sb-sidenav-menu-heading {
  color: $theme-color-light;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
address,
ul {
  margin: 0;
  padding: 0;
}
.text-justify {
  text-align: justify;
}
.zoom-able {
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
.aspect-two {
  aspect-ratio: 1/1.25 !important;
}
.aspect-one {
  aspect-ratio: 1/1 !important;
  object-fit: cover;
}
.modal-header {
  padding: 0.25rem 1rem;
  background-image: linear-gradient(
    90deg,
    $theme-color,
    $theme-color-light,
    $theme-color
  );
  color: white;
}
.text-theme {
  color: $theme-color;
}
.theme-button {
  background: $theme-color;
  border: 1px solid $theme-color;
  color: $white;
  @include transition;
  a {
    color: $white;
  }
  &:hover {
    background: $white;
    border: 1px solid $theme-color;
    a {
      color: $theme-color;
    }
  }
}
label {
  position: relative;
  .login-error-msg {
    position: absolute;
    color: red;
    text-shadow: 0 0 8px $white;
  }
}
.my-table {
  font-size: 14px;
  td,
  td {
    vertical-align: middle !important;
  }
}
.table-image {
  width: 75px;
  cursor: pointer;
}
