@import "variables";
@import "mixin";
@import "global";

#login {
  width: 100vw;
  height: 100vh;
  position: relative;
  .card {
    width: 30%;
    @include center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    label,
    h4 {
      color: $white;
      position: relative;
      .login-error-msg {
        position: absolute;
        color: red;
        text-shadow: 0 0 8px $white;
      }
    }
  }
}
.search-area {
  label {
    font-size: 14px;
    color: $theme-color;
    p {
      margin-bottom: 5px;
    }
  }
}

.small-button {
  border: none;
  background: $theme-color;
  border-radius: 5px;
  padding: 2px 6px;
  color: white;
  @include transition;
  margin-left: 2px;
  &:hover {
    background: $theme-color-light;
  }
}
.w-225 {
  // width: 225px;
  width: 0;
}
.value-container-parent {
  width: 312px;
  display: flex;
  flex-wrap: wrap;

  .value-container {
    position: relative;
    width: 100px;
    background: $theme-color;
    margin: 2px;
    border-radius: 5px;
    text-align: center;
    color: white;
    line-height: 30px;
    font-weight: bolder;
    cursor: pointer;
    &:hover {
      .value-buttons {
        display: block;
        background: $theme-color;
        border-radius: 5px;
      }
    }
    .value-buttons {
      @include center;
      @include transition;
      width: 100px;
      display: none;
      button {
        border: 0;
        padding: 0px 6px 0px 6px;
        font-size: 13px;
        color: $white;
        border-radius: 3px;
        line-height: 24px;
        @include transition;
        margin: 1px;
        &:hover {
          color: black;
        }
      }
    }
  }
}
.photo-upload-container {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  background: $theme-color;
  .icon {
    @include center;
    color: $white;
    cursor: pointer;
    @include transition;
    .fa-camera {
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
.primary-photo {
  border: 2px solid $theme-color;
}
.preview-photo {
  cursor: pointer;
}
.bg-theme {
  background: $theme-color;
}
